*{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
 i, a ,header{
            background-color: rgb(125, 120, 120);
            height: 50px;
            font-size: 30px;
            text-align: center;
            font-style: italic;
            margin-top: 10px;
            text-decoration: none;
            


        }
h1{
    color: brown;
    font-size: 100px;
    background-color: azure;
    font-style: italic;
    margin: 10px;
    padding: 10px;
}
h2{
    color: blue;
    font-size: 50px;
    background-color: rgb(119, 10, 221);
    font-style: italic;
   
    padding: 10px;
    margin-top: 10px;
}